server:
  port: ${PORT:8082}
  error:
    include-message: always

spring:
  application:
    name: interview-service
  datasource:
    url: ${DB_URL:jdbc:h2:mem:interviewdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
